@import './Resolutions.scss';
@import './Mixins.scss';
@import './Fonts.scss';
@import './Colors.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none;
  list-style: none;
}

a {
  color: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //10px/16px = 62.5%, 1rem = 10px;
  scroll-behavior: smooth;
}


//for mobile to take 100% height
html,
body {
  height: 100%;
  background-image: $backgroundColor;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

div#root {
  height: 100%;
}

#__next {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.react-select-container {
  background-color: #00000045;
  font-family: $fontRasa !important;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.react-select__value-container {
  padding-left: 0 !important;
}

.react-select__placeholder {
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  width: 100% !important;
  color: #777777 !important;
  text-align: center !important;
  font-size: 1.6rem !important;
}

.react-select__input {
  color: white;
  font-family: $fontRasa !important;
  font-weight: 400;
}

#react-select-long-value-select-input {
  font-family: $fontRasa !important;
  font-size: 2.2rem !important;
}

#react-select-single-value-select-input {
  width: 100% !important;
  font-family: $fontRasa !important;
  font-size: 2.2rem !important;
  text-align: center;
}

.react-select__control {
  background: none !important;
  border: none !important;
  border-radius: 0 !important;
  padding: .5rem .5rem !important;
}

.react-select__single-value {
  color: white !important;
  height: 25px !important;
  font-size: 2.2rem !important;
  top: unset !important;
  transform: translateX(-50%) !important;
}

#single-value-select {
  .css-b8ldur-Input {
    width: 100%;
  }

  .react-select__input {
    display: flex !important;
    justify-content: center;
  }
  .react-select__value-container {
    justify-content: center !important;
  }
  .react-select__indicators {
    z-index: 1;
    justify-content: flex-end;
  }
}

.react-select__multi-value {
  background-color: $orange !important;
  color: white !important;
}

.react-select__multi-value__label {
  color: white !important;
  font-family: $fontRasa !important;
  font-weight: 400;
  font-size: 1.6rem !important;
}

.react-select__multi-value__remove {
  cursor: pointer;
}

.css-tj5bde-Svg {
  width: 2rem;
  height: 2rem;
}

.react-select__indicator {
  color: white !important;
  cursor: pointer;
}

.react-select__indicator-separator {
  background-color: white !important;
}

.react-select__dropdown-indicator {
  padding-right: 0 !important;
}

.react-select__menu {
  box-shadow: 0 0 0 1px white !important;
  background: $backgroundColor !important;
  margin-top: 1.3rem !important;
  border-radius: 0 !important;
  font-family: $fontOpenSans !important;
  font-size: 1.6rem !important;
}

.react-select__menu-list {
  padding: 0 !important;
}

.react-select__menu-notice--no-options {
  color: inherit !important;
}

.react-select__option {
  cursor: pointer !important;

  &--is-focused {
    background-color: $orange !important;
  }

  &--is-selected {
    background-color: transparent !important;
  }

  &:hover {
    background-color: $orange !important;
  }

}

#react-select-single-value-select-input {
  opacity: 1 !important;
  text-transform: capitalize;
}
